version: '3.1'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      APP_ENV: dev
      XDEBUG_CONFIG: remote_host=host.docker.internal remote_port=9003 remote_connect_back=0
      XDEBUG_MODE: coverage
    volumes:
      - .:/var/www/